<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="vault12.crypto-native-storage"
    version="0.0.1">
    <name>CryptoNativeStorage</name>
    <repo></repo>
    <issue></issue>

    <js-module src="www/mainHandle.js" name="mainHandle">
        <clobbers target="NativeStorage" />
    </js-module>
    <js-module src="www/LocalStorageHandle.js" name="LocalStorageHandle">
    </js-module>
    <js-module src="www/NativeStorageError.js" name="NativeStorageError">
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NativeStorage">
                <param name="android-package" value="NativeStorage"/>
            </feature>
        </config-file>
        <source-file src="src/android/NativeStorage.java" target-dir="src/" />
        <source-file src="src/android/Crypto.java" target-dir="src/" />
        <source-file src="src/android/CryptoUtils.java" target-dir="src/" />
    </platform>


    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeStorage">
                <param name="ios-package" value="NativeStorage"/>
            </feature>
        </config-file>
        <header-file src="src/ios/NativeStorage.h"/>
        <source-file src="src/ios/NativeStorage.m"/>
        <source-file src="src/ios/CryptoUtils.swift"/>
    </platform>

    <!-- Browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeStorage">
                <param name="browser-package" value="NativeStorage" />
            </feature>
        </config-file>
    </platform>

    <!-- osx -->
    <platform name="osx">
        <config-file target="config.xml" parent="/*">
            <feature name="NativeStorage">
                <param name="osx-package" value="NativeStorage" />
            </feature>
        </config-file>
    </platform>

    <!-- windows -->
    <platform name="windows">
        <js-module src="src/windows/NativeStorage.js" name="NativeStorage">
            <runs />
        </js-module>
    </platform>


</plugin>
